.sizealert{
    font-size: 1.2rem;
}

.badge {
    font-size: 1.2rem;
}


.hola{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    
}

.cantidad{
    display: inline-block;
    text-align: center;
    background-color: gray;
    // border-radius: 50%;
}